[Unit]
Description=Solsta Hardware Pioneers Demo
After=weston.service
Wants=weston.service

[Service]
Type=simple
User=root
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=/home/weston/solsta-hardware-pioneers-demo.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
